@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

header, main {
  -webkit-transition: 500ms cubic-bezier(0.9, 0, 0.25, 1.25);
  transition: 500ms cubic-bezier(0.9, 0, 0.25, 1.25);
}

header.minimized, main.minimized {
  height: 0vh;
  min-height: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: #FFE4E4;
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  margin: 1vh;
  padding-right: 4vw;
  padding-bottom: 4vh;
  padding-left: 4vw;
  padding-top: 4vh;
  background-color: #00000000;
}

header > div > h1 {
  -webkit-transition: 500ms cubic-bezier(0.9, 0, 0.25, 1.25);
  transition: 500ms cubic-bezier(0.9, 0, 0.25, 1.25);
  margin: 2vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Oxanium';
  font-size: 8vw;
  font-weight: 400;
  color: #2F4858;
}

header > div > h2 {
  -webkit-transition: 750ms cubic-bezier(0.5, 1, 0.35, 1.4);
  transition: 750ms cubic-bezier(0.5, 1, 0.35, 1.4);
  margin: 2vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Oxanium';
  font-size: 3vw;
  font-weight: 300;
  color: #40567A;
}

header > svg {
  -webkit-transition: 750ms cubic-bezier(0.5, 1, 0.35, 1.4);
  transition: 750ms cubic-bezier(0.5, 1, 0.35, 1.4);
  width: 10vh;
  border: 4px solid #2F4858;
  border-radius: 10vh;
  background-color: #00000000;
  fill: #2F4858;
  -webkit-transform: translate(0, 12vh);
          transform: translate(0, 12vh);
}

header > svg:hover {
  -webkit-transition: 500ms cubic-bezier(0.14, 0.62, 0.24, 1.48);
  transition: 500ms cubic-bezier(0.14, 0.62, 0.24, 1.48);
  -webkit-transform: translate(0, 12vh) scale(1.2) rotate(180deg);
          transform: translate(0, 12vh) scale(1.2) rotate(180deg);
  background-color: #D9C0C9;
  border-color: #40567A;
  fill: #40567A;
  cursor: pointer;
}

header.minimized > div {
  -webkit-transition: 500ms cubic-bezier(0, 0.9, 0.6, 0.1);
  transition: 500ms cubic-bezier(0, 0.9, 0.6, 0.1);
  background-color: #00000000;
  border-color: #00000000;
}

header.minimized > div > h1 {
  -webkit-transition: 125ms cubic-bezier(0, 0.9, 0.6, 0.1);
  transition: 125ms cubic-bezier(0, 0.9, 0.6, 0.1);
  color: #00000000;
}

header.minimized > div > h2 {
  -webkit-transition: 125ms cubic-bezier(0, 0.9, 0.6, 0.1);
  transition: 125ms cubic-bezier(0, 0.9, 0.6, 0.1);
  color: #00000000;
}

header.minimized > svg {
  -webkit-transition: 125ms cubic-bezier(0, 0.9, 0.6, 0.1);
  transition: 125ms cubic-bezier(0, 0.9, 0.6, 0.1);
  border-color: #00000000;
  background-color: #00000000;
  fill: #00000000;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  background-color: #2F4858;
}

main > nav {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFE4E4;
}

.button {
  -webkit-transition: 125ms;
  transition: 125ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-top: 1vh;
  height: 8vh;
  width: 100%;
  background-color: #00000000;
  border: 4px solid #2F4858;
  border-radius: 8vh;
}

.button > h3 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 125ms;
  transition: 125ms;
  font-family: 'Oxanium';
  font-size: 2vw;
  color: #2F4858;
}

.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 125ms;
  transition: 125ms;
  background-color: #D9C0C9;
  cursor: pointer;
}

.button:hover > h3 {
  -webkit-transition: 125ms;
  transition: 125ms;
  font-family: 'Oxanium';
  font-size: 2vw;
  color: #40567A;
}

.top-div, .bottom-div {
  -webkit-transition-duration: 0ms;
          transition-duration: 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 2px;
  background-color: #FFE4E4;
}

.top-div.minimized, .bottom-div.minimized {
  height: 0vh;
  min-height: 0px;
}
/*# sourceMappingURL=styles-main.css.map */