@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #184e77;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0vw;
}

body > .top, body .header, body .main, body .bottom {
  -webkit-transition: 750ms cubic-bezier(1, 0, 0.75, 1);
  transition: 750ms cubic-bezier(1, 0, 0.75, 1);
}

body > .top > *, body .header > *, body .main > *, body .bottom > * {
  -webkit-transition: inherit;
  transition: inherit;
}

body > .top, body .main {
  opacity: 0;
  min-height: 0vh;
  height: 0vh;
}

body > .header {
  opacity: 1;
  min-height: 100vh;
  height: 100vh;
}

body > .bottom {
  opacity: 1;
  min-height: 10vh;
  height: 10vh;
}

body.show-main > .bottom, body.show-main .header {
  min-height: 0vh;
  height: 0vh;
}

body.show-main > .bottom > *, body.show-main .header > * {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  opacity: 0;
}

body.show-main > .main {
  opacity: 1;
  min-height: 100vh;
  height: 100vh;
}

body.show-main > .top {
  opacity: 1;
  min-height: 10vh;
  height: 10vh;
}

.header, .main, .margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #99d98c;
  background: -webkit-gradient(linear, left top, right top, from(#99d98c), to(#d9ed92));
  background: linear-gradient(to right, #99d98c, #d9ed92);
}

.header > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > div > h1 {
  font-size: 8vw;
  font-weight: 500;
  color: #184e77;
  margin: 2vh;
}

.header > div > h2 {
  font-size: 3vw;
  font-weight: 300;
  color: #1a759f;
  margin: 1vh;
}

.header > div > svg {
  -webkit-transition: 1s cubic-bezier(0.49, -0.56, 0.47, 1.5);
  transition: 1s cubic-bezier(0.49, -0.56, 0.47, 1.5);
  border: 0.5vw solid #184e77;
  border-radius: 8vw;
  fill: #184e77;
  width: 8vw;
  height: 8vw;
}

.header > div > svg:hover {
  -webkit-transition: 1s cubic-bezier(0.49, -0.56, 0.47, 1.5);
  transition: 1s cubic-bezier(0.49, -0.56, 0.47, 1.5);
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
}

.main {
  background-color: #184e77;
}

.main > div {
  margin-right: 1vw;
}

.grid-container {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 4vw;
      grid-template-areas: "_nav" "_aboutme" "_skills" "_projects" "_contacts";
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: _nav;
  height: 10vh;
  background: red;
}

.margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}
/*# sourceMappingURL=styles-main.css.map */