// Custom.scss
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

$color-text-nohover : #BE7DDCFF;
$color-text-hover   : #FFE4F8FF;

$color-border-nohover : #00000000;
$color-border-hover : #FF76BAFF;

$color-bg-nohover : #16151CFF;
$color-bg-hover : #00000000;

$color-bg-passive : #16151CFF;

body{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    background-color: $color-bg-passive;
}

.header > *{
    display:flex;

    justify-content:center;
    align-items:center;
    width: 100%;
}

.header-button{
    transition-duration: 0.1s;
    
    border : 2px solid $color-border-nohover;

    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    background-color: $color-bg-nohover;
}

.header-button:hover{
    transition-duration: 0.1s;
    
    transform: scale(1.05);

    border : 2px solid $color-border-hover;

    background-color: $color-bg-hover;

    cursor: pointer;
}

.header-button:hover > .header-text{
    color: $color-text-hover;
}

.header-text{
    margin: 0px;
    font-family: 'Oxanium';
    font-size: 3vw;
    color: $color-text-nohover;
}