// Custom.scss
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

.header-1{
    font-family : 'Oxanium', cursive;  
    font-weight: 400;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

body {
    margin: 0;
}

.grid-container {
    margin: 0.1vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25vw auto;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 25vw;
    }
}

