@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes boxOpening-bot {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1.2, 1.2);
    transform: translateY(100vh);
  }
}

@keyframes boxOpening-top {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1.25, 1.25);
    transform: translateY(-100vh);
  }
}

@keyframes boxShaking {
  10% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(1deg);
  }
}

@keyframes boxSqueeze {
  100% {
    transform: scale(0.75, 0.75);
  }
}

html, body {
  min-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(135deg, #662b29 0%, #94363a 33%, #b64d46 66%, #cd5e46 100%);
}

body.wrongDay {
  background: linear-gradient(90deg, #ffcdb2 0%, #ffb4a2 10%, #e5989b 25%, #b5838d 50%, #6d6875 100%);
}

#wrongDay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  height: 100vh;
  top: 0;
}

#wrongDay div {
  display: flex;
  min-height: 100%;
  min-width: 5vw;
  background-color: gray;
  background: linear-gradient(90deg, #f2e9e4 0%, #c9ada7 25%, #9a8c98 50%, #4a4e69 75%, #22223b 100%);
}

#wrongDay.hidden {
  display: none;
}

#rightDay.hidden {
  display: none;
}

.gift {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -256px;
  margin-left: -256px;
  min-width: 512px;
  min-height: 512px;
}

#gift-bot {
  z-index: 100;
}

#gift-bot.gift-bot {
  animation: boxShaking 1s infinite;
}

#gift-bot.gift-prep {
  animation: boxSqueeze 3s;
}

#gift-bot.gift-boom {
  animation: boxOpening-bot 2s;
}

#gift-top {
  z-index: 200;
}

#gift-top.gift-top {
  pointer-events: all;
  cursor: pointer;
  animation: boxShaking 1s infinite;
}

#gift-top.gift-prep {
  animation: boxSqueeze 3s;
}

#gift-top.gift-boom {
  animation: boxOpening-top 2s;
}

.hidden {
  height: 0;
}

header, footer {
  position: fixed;
  width: 33%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  color: whitesmoke;
}

header div, footer div {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  font-size: large;
}

header {
  top: 0;
  left: 0;
  transition: ease 1s;
}

header div {
  display: flex;
  justify-content: flex-start;
}

header.hidden {
  top: -200px;
}

main {
  pointer-events: none;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

main > * {
  pointer-events: none;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  bottom: 0;
  right: 0;
  transition: ease 1s;
  user-select: none;
}

footer div {
  display: flex;
  justify-content: flex-end;
  z-index: 200;
  pointer-events: all;
}

footer.hidden {
  bottom: -200px;
}
/*# sourceMappingURL=style-main.css.map */